{% extends 'screens/main.html' %}

{% block table %}

{{ block.super }}


    <tr>
        <th>Data da amostra</th>
        <th>Classificação final</th>
        <th>Ação sugerida</th>
        <th>Ação executada</th>
        <th>Data da ação</th>
    </tr>
    <tr>
        <td>17/12/2006</th>
        <td>09</th>
        <td>Borrife água</th>
        <td>Nenhuma</th>
        <td>15/12/2009</th>
    </tr>


{% endblock %}

