{% extends 'main.html' %}

{% block content %}
<div class="Corpo">
    <label for="myfile">Selecione as fotos e a data:</label>
    <form id="uploadForm" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        <h7>Quantidade sugerida de fotos: {{ qntPics }}</h7>
        <input type="file" id="myfile" name="myfile" multiple>
        <h7>Data da amostragem: </h7>
        <input type="date" id="date" name="date"><br><br>
        <button id="showCarouselButton" type="button" class="uploadButton">Visualizar Imagens</button>
        <button id="uploadButton" type="submit">Enviar Imagens</button>
    </form>
    <br>

    <!-- div carrossel -->
    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators" id="carouselIndicators">
            <!-- Aqui serão adicionados indicadores dinamicamente -->
        </ol>
        <div class="carousel-inner" id="carouselInner">
            <!-- Aqui serão adicionadas as imagens dinamicamente -->
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Anterior</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Próximo</span>
        </a>
    </div>

    <!-- <script> const qntPics = {{ qntPics }}; </script> -->
    <div id="qntPicsDiv" data-qnt-pics="{{ qntPics }}"></div>
    <script src="static/js/main.js"></script>
</div>
{% endblock %}